Repository padamson/scimantic: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pytest, typescript-check-ext, eslint-ext

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: ^(scimantic-core/uv\.lock|uv\.lock)$
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: detect-private-key # Prevents committing private keys
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Python linting and formatting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
        files: ^scimantic-core/.*\.py$
      - id: ruff-format
        files: ^scimantic-core/.*\.py$

  # Type checking with mypy (strict mode)
  - repo: local
    hooks:
      - id: mypy
        name: mypy (scimantic-core)
        entry: bash -c 'cd scimantic-core && uv run mypy src/scimantic'
        language: system
        files: ^scimantic-core/src/scimantic/.*\.py$
        pass_filenames: false
        require_serial: true

  # Test suite with pytest
  - repo: local
    hooks:
      - id: pytest
        name: pytest (scimantic-core)
        entry: bash -c 'cd scimantic-core && uv run pytest'
        language: system
        files: ^scimantic-core/(src/scimantic/.*\.py|tests/.*\.py)$
        pass_filenames: false
        require_serial: true

  # VS Code Extension checks
  - repo: local
    hooks:
      - id: typescript-check-ext
        name: TypeScript check (scimantic-ext)
        entry: bash -c 'cd scimantic-ext && pnpm run check-types'
        language: system
        files: ^scimantic-ext/src/.*\.ts$
        pass_filenames: false
        require_serial: true

      - id: eslint-ext
        name: ESLint (scimantic-ext)
        entry: bash -c 'cd scimantic-ext && pnpm run lint'
        language: system
        files: ^scimantic-ext/src/.*\.ts$
        pass_filenames: false
        require_serial: true

  # Security: Detect secrets and sensitive data
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: |
          (?x)^(
              .*\.lock$|
              .*pnpm-lock.yaml$|
              .*\.baseline$|
              \.git/.*|
              scimantic-ext/node_modules/.*
          )$

ci:
  autofix_commit_msg: ðŸŽ¨ [pre-commit.ci] Auto format from pre-commit.com hooks
  autoupdate_commit_msg: â¬† [pre-commit.ci] pre-commit autoupdate

deploy: 2770f70709cd0b0efb3e56e7e1e41f8e29758917
  .nojekyll
  index-en.html
  index.ttl
  ontology.jsonld
  ontology.nt
  ontology.owl
  ontology.ttl
  provenance/provenance-en.html
  provenance/provenance-en.ttl
  readme.md
  resources/dark-mode-toggle.mjs
  resources/dark.css
  resources/extra.css
  resources/jquery.js
  resources/light.css
  resources/marked.min.js
  resources/moon.svg
  resources/owl.css
  resources/primer.css
  resources/rdf.icon
  resources/rec.css
  resources/slider.css
  resources/sun.svg
  webvowl/css/webvowl.app.css
  webvowl/css/webvowl.css
  webvowl/data/foaf.json
  webvowl/data/ontology.json
  webvowl/data/template.json
  webvowl/favicon.ico
  webvowl/index.html
  webvowl/js/d3.min.js
  webvowl/js/webvowl.app.js
  webvowl/js/webvowl.js
  webvowl/license.txt
Due: none

deploy: af6df3bb2dc142e1ca9e7a08b3528b410b252614
  webvowl/data/ontology.json
Due: none

deploy: bb8da25cd57438f42f6c2126997c11b219332700
  CNAME
  webvowl/data/ontology.json
Due: none

deploy: 2980045736afec86e191533d4cf1dfbd4028a30e
  index.html
  webvowl/data/ontology.json
Due: none

deploy: 4c81cab0fa2826d9e97ac000728e0027403ec221
  index-en.html
  provenance/provenance-en.ttl
  webvowl/data/ontology.json
Due: none

feat: ontology development
  .github/workflows/deploy-ontology.yml
  .github/workflows/test-scimantic-core.yml
  .pre-commit-config.yaml
  docs/01-what-architecture.md
  docs/features/ontology-development.md
  docs/specs/ontology-spec-v0.1.0.md
  examples/scimantic-paper/project.ttl
  scimantic-core/ontology/scimantic.ttl
  scimantic-core/ontology/shacl/scimantic-shapes.ttl
  scimantic-core/ontology/widoco.conf
Due: none

deploy: d157915114e61a635da67f3fe6b2f52a33bbf56d
  index.html
  index.ttl
  ontology.jsonld
  ontology.nt
  ontology.owl
  ontology.ttl
  webvowl/data/ontology.json
Due: none

release ontology v0.1.0
  .github/workflows/deploy-ontology.yml
  .github/workflows/release-core.yml
  .github/workflows/release-ext.yml
  .github/workflows/release-ontology.yml
  .github/workflows/test-ontology.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/00-why-vision.md
  docs/01-what-architecture.md
  docs/02-when-roadmap.md
  docs/03-how-specifications/ontology-spec-v0.1.0.md
  docs/features/ontology-development.md
  docs/releasing.md
  docs/specs/ontology-spec-v0.1.0.md
  ontology_graph.png
  scimantic-core/ontology/README.md
  scimantic-core/ontology/scimantic.ttl
  scimantic-core/ontology/shacl/scimantic-shapes.ttl
  scimantic-core/ontology/shacl/urref-shapes.ttl
  scimantic-core/ontology/widoco.conf
  scimantic-core/pyproject.toml
  scripts/build-docs.sh
  scripts/preview-docs.sh
  scripts/visualize_ontology.py
  scripts/watch-docs.sh
  uv.lock
Due: none

deploy: 119faddeef55e397a9e8fb6be560b0361944a924
  .nojekyll
  CNAME
  index.html
  v/0.1.0/index-en.html
  v/0.1.0/index.html
  v/0.1.0/ontology.jsonld
  v/0.1.0/ontology.nt
  v/0.1.0/ontology.owl
  v/0.1.0/ontology.ttl
  v/0.1.0/ontology_graph.png
  v/0.1.0/provenance/provenance-en.html
  v/0.1.0/provenance/provenance-en.ttl
  v/0.1.0/readme.md
  v/0.1.0/resources/dark-mode-toggle.mjs
  v/0.1.0/resources/dark.css
  v/0.1.0/resources/extra.css
  v/0.1.0/resources/jquery.js
  v/0.1.0/resources/light.css
  v/0.1.0/resources/marked.min.js
  v/0.1.0/resources/moon.svg
  v/0.1.0/resources/owl.css
  v/0.1.0/resources/primer.css
  v/0.1.0/resources/rdf.icon
  v/0.1.0/resources/rec.css
  v/0.1.0/resources/slider.css
  v/0.1.0/resources/sun.svg
  v/0.1.0/scimantic.ttl
  v/0.1.0/shacl/scimantic-shapes.ttl
  v/0.1.0/shacl/urref-shapes.ttl
  v/0.1.0/webvowl/css/webvowl.app.css
  v/0.1.0/webvowl/css/webvowl.css
  v/0.1.0/webvowl/data/foaf.json
  v/0.1.0/webvowl/data/ontology.json
  v/0.1.0/webvowl/data/template.json
  v/0.1.0/webvowl/favicon.ico
  v/0.1.0/webvowl/index.html
  v/0.1.0/webvowl/js/d3.min.js
  v/0.1.0/webvowl/js/webvowl.app.js
  v/0.1.0/webvowl/js/webvowl.js
  v/0.1.0/webvowl/license.txt
Due: none

deploy: 3472a4dba020eeadf00525c6ca012d1b821e1f12
  index.html
  v/0.1.1/index-en.html
  v/0.1.1/index.html
  v/0.1.1/ontology.jsonld
  v/0.1.1/ontology.nt
  v/0.1.1/ontology.owl
  v/0.1.1/ontology.ttl
  v/0.1.1/ontology_graph.png
  v/0.1.1/provenance/provenance-en.html
  v/0.1.1/provenance/provenance-en.ttl
  v/0.1.1/readme.md
  v/0.1.1/resources/dark-mode-toggle.mjs
  v/0.1.1/resources/dark.css
  v/0.1.1/resources/extra.css
  v/0.1.1/resources/jquery.js
  v/0.1.1/resources/light.css
  v/0.1.1/resources/marked.min.js
  v/0.1.1/resources/moon.svg
  v/0.1.1/resources/owl.css
  v/0.1.1/resources/primer.css
  v/0.1.1/resources/rdf.icon
  v/0.1.1/resources/rec.css
  v/0.1.1/resources/slider.css
  v/0.1.1/resources/sun.svg
  v/0.1.1/scimantic.ttl
  v/0.1.1/shacl/scimantic-shapes.ttl
  v/0.1.1/webvowl/css/webvowl.app.css
  v/0.1.1/webvowl/css/webvowl.css
  v/0.1.1/webvowl/data/foaf.json
  v/0.1.1/webvowl/data/ontology.json
  v/0.1.1/webvowl/data/template.json
  v/0.1.1/webvowl/favicon.ico
  v/0.1.1/webvowl/index.html
  v/0.1.1/webvowl/js/d3.min.js
  v/0.1.1/webvowl/js/webvowl.app.js
  v/0.1.1/webvowl/js/webvowl.js
  v/0.1.1/webvowl/license.txt
Due: none

deploy: 31c420a461615babdacfe3316f0bab389e3e39b2
  v/0.1.1/index-en.html
  v/0.1.1/index.html
  v/0.1.1/ontology.jsonld
  v/0.1.1/ontology.nt
  v/0.1.1/ontology.owl
  v/0.1.1/ontology.ttl
  v/0.1.1/scimantic.ttl
  v/0.1.1/shacl/scimantic-shapes.ttl
  v/0.1.1/webvowl/data/ontology.json
Due: none

deploy: 9c1ac29cac3838f2f895ba05e49a25cbc9a16b94
  v/0.1.1/index-en.html
  v/0.1.1/index.html
  v/0.1.1/ontology.ttl
  v/0.1.1/scimantic.ttl
  v/0.1.1/shacl/scimantic-shapes.ttl
  v/0.1.1/webvowl/data/ontology.json
Due: none

deploy: 3335be85e722f6276cb6a87be8984d7826bb71bb
  v/0.1.1/webvowl/data/ontology.json
Due: none

deploy: 32327f9184753d7231327a6b43f80b5f175539bd
  v/0.1.1/ontology.jsonld
  v/0.1.1/ontology.nt
  v/0.1.1/ontology.owl
  v/0.1.1/ontology.ttl
  v/0.1.1/scimantic.ttl
  v/0.1.1/shacl/scimantic-shapes.ttl
  v/0.1.1/webvowl/data/ontology.json
Due: none

migrate to LinkML and start question formation feature
  .github/workflows/release-ontology.yml
  .github/workflows/test-ontology.yml
  .gitignore
  .pre-commit-config.yaml
  docs/features/question-formation.md
  docs/releasing.md
  ontology_graph.png
  scimantic-core/ontology/README.md
  scimantic-core/ontology/scimantic.ttl
  scimantic-core/ontology/shacl/scimantic-shapes.ttl
  scimantic-core/ontology/shacl/urref-shapes.ttl
  scimantic-core/ontology/widoco.conf
  scimantic-core/pyproject.toml
  scimantic-core/schema/scimantic.yaml
  scimantic-core/scripts/inject_version.py
  scimantic-core/src/scimantic/__init__.py
  scimantic-core/src/scimantic/config.py
  scimantic-core/src/scimantic/gen_all.py
  scimantic-core/src/scimantic/mcp.py
  scimantic-core/src/scimantic/models.py
  scimantic-core/src/scimantic/provenance.py
  scimantic-core/tests/conftest.py
  scimantic-core/tests/integration/test_evidence_workflow.py
  scimantic-core/tests/test_mcp.py
  scimantic-core/tests/test_models.py
  scimantic-core/tests/test_question_formation.py
  scimantic-core/tests/test_shacl_failures.py
  scripts/build-docs.sh
  scripts/visualize_ontology.py
  uv.lock
Due: mypy, pytest

deploy: ec133432dfa1acf688f0591075af55da49c0b4aa
  v/0.1.1/ontology.jsonld
  v/0.1.1/ontology.nt
  v/0.1.1/ontology.owl
  v/0.1.1/ontology.ttl
  v/0.1.1/scimantic.ttl
  v/0.1.1/shacl/scimantic-shapes.ttl
  v/0.1.1/webvowl/data/ontology.json
Due: none

migrate ontology schema to LinkML
  .github/workflows/test-ontology.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/03-how-specifications/legacy-ontology-spec-v0.1.0.md
  docs/releasing.md
  ontology_graph.mmd
  ontology_graph.png
  scimantic-core/ontology/scimantic.ttl
  scimantic-core/ontology/shacl/scimantic-shapes.ttl
  scimantic-core/ontology/widoco.conf
  scimantic-core/schema/scimantic.yaml
  scimantic-core/scripts/inject_version.py
  scimantic-core/src/scimantic/gen_all.py
  scimantic-core/src/scimantic/mcp.py
  scimantic-core/src/scimantic/models.py
  scripts/build-docs.sh
  scripts/preview-docs.sh
  scripts/visualize_ontology.py
  scripts/watch-docs.sh
Due: mypy, pytest

deploy: f7616e2f3d6a9c575197510abdaef839c00bf020
  index.html
  v/0.1.2/index-en.html
  v/0.1.2/index.html
  v/0.1.2/ontology.jsonld
  v/0.1.2/ontology.nt
  v/0.1.2/ontology.owl
  v/0.1.2/ontology.ttl
  v/0.1.2/ontology_graph.png
  v/0.1.2/provenance/provenance-en.html
  v/0.1.2/provenance/provenance-en.ttl
  v/0.1.2/readme.md
  v/0.1.2/resources/dark-mode-toggle.mjs
  v/0.1.2/resources/dark.css
  v/0.1.2/resources/extra.css
  v/0.1.2/resources/jquery.js
  v/0.1.2/resources/light.css
  v/0.1.2/resources/marked.min.js
  v/0.1.2/resources/moon.svg
  v/0.1.2/resources/owl.css
  v/0.1.2/resources/primer.css
  v/0.1.2/resources/rdf.icon
  v/0.1.2/resources/rec.css
  v/0.1.2/resources/slider.css
  v/0.1.2/resources/sun.svg
  v/0.1.2/scimantic.ttl
  v/0.1.2/shacl/scimantic-shapes.ttl
  v/0.1.2/webvowl/css/webvowl.app.css
  v/0.1.2/webvowl/css/webvowl.css
  v/0.1.2/webvowl/data/foaf.json
  v/0.1.2/webvowl/data/ontology.json
  v/0.1.2/webvowl/data/template.json
  v/0.1.2/webvowl/favicon.ico
  v/0.1.2/webvowl/index.html
  v/0.1.2/webvowl/js/d3.min.js
  v/0.1.2/webvowl/js/webvowl.app.js
  v/0.1.2/webvowl/js/webvowl.js
  v/0.1.2/webvowl/license.txt
Due: none

exclude generated code from ruff checks
  .github/workflows/test-scimantic-core.yml
Due: none

most of question formation slice 1
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  docs/features/question-formation.md
  examples/scimantic-paper/project.ttl
  scimantic-core/README.md
  scimantic-core/ontology/README.md
  scimantic-core/ontology/scimantic.ttl
  scimantic-core/ontology/shacl/scimantic-shapes.ttl
  scimantic-core/schema/scimantic.yaml
  scimantic-core/src/scimantic/mcp.py
  scimantic-core/src/scimantic/models.py
  scimantic-core/tests/integration/test_literature_search_workflow.py
  scimantic-core/tests/integration/test_question_formation_workflow.py
  scimantic-core/tests/integration/test_scimantic_workflow.py
  scimantic-core/tests/test_models.py
  scimantic-core/tests/test_ontology_specification.py
  scimantic-core/tests/test_question_formation.py
  scimantic-core/tests/test_shacl_failures.py
  scimantic-core/tests/unit/test_mcp.py
  scimantic-core/tests/unit/test_models.py
  scimantic-core/tests/unit/test_provenance.py
  scimantic-core/tests/unit/test_publish.py
  scimantic-ext/.vscode-test.mjs
  scimantic-ext/README.md
  scimantic-ext/package.json
  scimantic-ext/src/extension.ts
  scimantic-ext/src/providers/evidenceTreeProvider.ts
  scimantic-ext/src/providers/knowledgeGraphTreeProvider.ts
  scimantic-ext/src/services/mcpClient.ts
  scimantic-ext/src/test/knowledgeGraphTreeProvider.test.ts
  scimantic-ext/src/test/workspaceInit.test.ts
  scimantic-ext/src/types.ts
Due: mypy, pytest, typescript-check-ext, eslint-ext

add annotations and EvidenceExtraction
  CLAUDE.md
  docs/00-why-vision.md
  docs/01-what-architecture.md
  docs/02-when-roadmap.md
  docs/02.1-when-scimantic-server-roadmap.md
  docs/features/00-ontology-development.md
  docs/features/01-question-formation.md
  docs/features/02-ai-assisted-literature-search.md
  docs/features/ai-assisted-literature-search.md
  docs/features/question-formation.md
  ontology_graph.mmd
  ontology_graph.png
  scimantic-core/ontology/scimantic.ttl
  scimantic-core/ontology/shacl/scimantic-shapes.ttl
  scimantic-core/ontology/widoco.conf
  scimantic-core/schema/scimantic.yaml
  scimantic-core/src/scimantic/models.py
  scimantic.code-workspace
  scripts/README.md
  scripts/visualize_ontology.py
Due: mypy, pytest

deploy: 1510d4699904a5a7f516102281c13a8ba0d511f5
  index.html
  v/0.1.3/index-en.html
  v/0.1.3/index.html
  v/0.1.3/ontology.jsonld
  v/0.1.3/ontology.nt
  v/0.1.3/ontology.owl
  v/0.1.3/ontology.ttl
  v/0.1.3/ontology_graph.png
  v/0.1.3/provenance/provenance-en.html
  v/0.1.3/provenance/provenance-en.ttl
  v/0.1.3/readme.md
  v/0.1.3/resources/dark-mode-toggle.mjs
  v/0.1.3/resources/dark.css
  v/0.1.3/resources/extra.css
  v/0.1.3/resources/jquery.js
  v/0.1.3/resources/light.css
  v/0.1.3/resources/marked.min.js
  v/0.1.3/resources/moon.svg
  v/0.1.3/resources/owl.css
  v/0.1.3/resources/primer.css
  v/0.1.3/resources/rdf.icon
  v/0.1.3/resources/rec.css
  v/0.1.3/resources/slider.css
  v/0.1.3/resources/sun.svg
  v/0.1.3/scimantic.ttl
  v/0.1.3/shacl/scimantic-shapes.ttl
  v/0.1.3/webvowl/css/webvowl.app.css
  v/0.1.3/webvowl/css/webvowl.css
  v/0.1.3/webvowl/data/foaf.json
  v/0.1.3/webvowl/data/ontology.json
  v/0.1.3/webvowl/data/template.json
  v/0.1.3/webvowl/favicon.ico
  v/0.1.3/webvowl/index.html
  v/0.1.3/webvowl/js/d3.min.js
  v/0.1.3/webvowl/js/webvowl.app.js
  v/0.1.3/webvowl/js/webvowl.js
  v/0.1.3/webvowl/license.txt
Due: none

move ontology to scimantic-ontology
  .github/workflows/release-ontology.yml
  .github/workflows/test-ontology.yml
  .github/workflows/test-scimantic-core.yml
  CLAUDE.md
  docs/03-how-spec-driven-development.md
  scimantic-core/src/scimantic/config.py
  scimantic-core/src/scimantic/gen_all.py
  scimantic-core/tests/conftest.py
  scimantic-ontology/README.md
  scimantic-ontology/generated/README.md
  scimantic-ontology/generated/scimantic.ttl
  scimantic-ontology/generated/shacl/scimantic-shapes.ttl
  scimantic-ontology/generated/widoco.conf
  scimantic-ontology/schema/scimantic.yaml
  scimantic-ontology/scripts/inject_version.py
  scripts/build-docs.sh
  scripts/visualize_ontology.py
Due: mypy, pytest
